*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Jost';

}
.wrap{
  width: 100%;
  min-height: 100vh;
}

/* main page */
.mainPage{
  width: 100%;
  height: 100vh;
  background-color: #EEEFF1;
  padding: 0 100px;
}
.mainPage_content{
  width: 100%;
  height: 82%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_leftPart{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_title{
  font-family: 'Jost';
  font-size: 80px;
  font-weight: 800;
  color: #1B1B1D;
}
.main_subtitle{
  width: 530;
  font-size: 18px;
  font-weight: 400;
  color: #64646A;
}
.main_buttons{
  width: 376px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.downloadBtn{
  width: 225px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1D;
  color: #fff;
  cursor: pointer;
  border-radius: 126px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Jost';
  transition: 0.4s ease-in-out;
  text-transform: uppercase;
  user-select: none;

}
.downloadBtn:hover{
  background-color: #EEEFF1;
  border: 2px solid #1B1B1D;
  color: #1B1B1D;
}
.shopCoffeeBtn{
  width: 124px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Jost';
  color: #1B1B1D;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}
.shopCoffeeBtnHr{
  width: 100%;
  height: 2px;
  background-color: #1B1B1D;
  margin-top: 2px;
}
.main_rightPart{
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_coffeeCup{
  width: 550px;
}
.main_comment{
  width: 280px;
  height: 140px;
  background-color: #fff;
  border-radius: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 150px;
  top: 350px;
}
.starsCon{
  width: 180px;
  display: flex;
  justify-content: space-between;
}
.main_comment p{
  font-size: 19px;
  font-weight: 400;
  font-family: 'Jost';
  color: #64646A;
  margin-top: 10px;
}
#main_coffeeAwardRightPart{
  position: absolute;
  width: 144px;
  top: 80px;
  left: 650px;
}
#main_leftPart_coffeeAward{
  width: 73px;
}
/* main page */

/* explore page */
.explorePage{
  width: 100%;
  height: 100vh;
  background-color: #F3F4F5;
  padding: 40px 100px;
  position: relative;
}
.explore_cards{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.explore_text{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.explore_title{
  font-size: 48px;
  font-family: 'Jost';
  font-weight: 800;
  color: #1B1B1D;
}
.explore_subtitle{
  font-size: 22px;
  font-weight: 400;
  color: #64646A;
  font-family: 'Jost';
  width: 550px;
  text-align: center;
}
.explore_coffeeImg{
  position: absolute;
  left: 0;
  width: 300px;
  top: 0;
}
/* explore page */

/* orderCoffee page */
.orderScreen{
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #F3F4F5;
}
.leftPart{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.order_coffeeCups{
  width: 807px;
}
.rightPart{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
}
.ordering_title{
  font-size: 48px;
  color: #1B1B1D;
  font-family: 'Jost';
  font-weight: 800;
  width: 480px;
}
.ordering_text{
  font-size: 22px;
  font-family: 'Jost';
  font-weight: 400;
  color: #64646A;
  width: 512px;
  margin-top: 15px;
}
.orderingBtn{
  width: 191px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1B1B1D;
  color: #F3F4F5;
  border-radius: 126px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  margin-top: 30px;
}
.orderingBtn:hover{
  background-color: #F3F4F5;
  color: #1B1B1D;
  border: 2px solid #1B1B1D;
}
/* orderCoffee page */

/* bestSellings page */
.bestSellingScreen{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F3F4F5;
  padding-top: 25px;
}
.bestSelling_title{
  font-size: 48px;
  color: #1B1B1D;
  font-weight: 800;
}
.bestSelling_subtitle{
  font-size: 22px;
  font-weight: 400;
  color: #64646A;
  width: 550px;
  text-align: center;
  margin-top: 5px;
}
.bestSellings_cardsContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-top: 80px;
}
/* bestSellings page */
